<section class="about-page">
    <h1>About...</h1>
    <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laborum exercitationem libero nobis distinctio ab voluptate asperiores nihil, dolorum ea illum ratione doloribus, molestiae cum et quisquam consequatur praesentium id. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati provident ipsa voluptatum fuga cumque tempore autem nostrum mollitia facilis sequi tempora, expedita delectus, totam nesciunt quibusdam quae pariatur rem cum? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, facilis vitae placeat iusto blanditiis quos iste autem praesentium nostrum tempore amet sit repellat ratione deleniti perspiciatis ad possimus, aut ducimus!</p>

    <img class="image" src="/images/Florence.jpg" alt="">
</section>