<section>
    <h2>Ajouter un nouveau produit</h2>

    <form method="post">
        <div class="input-add-form">
            <label for="productName">Nom du produit *</label>
            <input name="productName" id="productName" type="text">
        </div>

        <div class="input-add-form">
            <label for="productDesc">Description du produit</label>
            <input name="productDesc" id="productDesc" type="text">
        </div>

        <div class="input-add-form">
            <label for="productPrice">Prix du produit *</label>
            <input name="productPrice" id="productPrice" type="number">
        </div>

        <div class="input-add-form">
            <label for="SoldedProductPrice">Prix soldé du produit</label>
            <input name="SoldedProductPrice" id="SoldedProductPrice" type="number">
        </div>

        <button>Ajouter le produit</button>
    </form>
</section>