<section>
    <h1>Hello products</h1>

    <div class="products-page-container">
            {{#each products}}
                <div class="product-card">
                    <h2>{{this.name}}</h2>
                     <p>{{this.price}}€</p>
                    <a href="/products/details/{{this.id}}">Plus de details ici</a>
                </div>
            {{/each}}
    </div>
</section>